# 프로젝트 1 : 전화번호 가려주는 프로그램

#### Step 01. 원본 전화번호 형식을 정의

In [1]:
numbers = '010-12345-23456'

#### Step 02. 맨 뒤의 5자리를 #으로 마스킹 처리하는 함수 정의

In [2]:
def change_num(nums):
    answer = nums.replace(nums[-5:], '#####') # 코드를 직접 입력해 주세요.
    return answer

#### Step 03. 실제로 함수를 이용하여 결과 값 확인해보기

In [3]:
print(change_num(numbers))
print(change_num('010-13579-24688'))

010-12345-#####
010-13579-#####

# 프로젝트 2 : 리스트 평탄화

#### Step 01. overlap 이라는 중첩된 리스트 준비하기

##### a. overlap 선언

In [4]:
overlap = [[1, 2], 3, [[4, 5, 6], 7], 8, 9]

##### b. 이 overlap 이라는 리스트를 컬렉션에 두고 한 요소 씩 출력해보기

In [5]:
for element in overlap:
    print(element)

[1, 2]
3
[[4, 5, 6], 7]
8
9

- 가장 바깥 괄호를 기준으로 요소가 출력되는 것으로 확인 할 수 있습니다.

#### Step 02. 리스트를 평탄화하는 함수 정의
- 중첩된 리스트가 있을 때 중첩을 모두 제거 후, 1차원 리스트로 만드는 것을 일컫음

In [6]:
def flatten(data):
    output = []  # 빈 리스트를 만듭니다.

    # 반복문과 재귀를 활용하여 함수 채워봐요.
    for e in data:
        if type(e) == list:
            output += flatten(e)
        else:
            output.append(e)

    return output

#### Step 03. 실제로 함수를 이용하여 결과 값 확인해보기

In [7]:
a = [[1, 2], 3, [[4, 5, 6], 7], 8, 9]
flatten(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
flatten(overlap)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 프로젝트 3 : 10 이하 숫자만 곱해주는 함수

#### Step 01. 테스트에 사용할 변수와 값 준비하기

##### a. 정수 x1과 실수 x2를 선언

In [9]:
x1 = 10
x2 = 10.0

##### b. 정수가 맞는지 간단하게 if문을 통해 출력하여 확인

In [10]:
print('---------- 판별 시작 ----------')
print()

if type(x1) == int:
  print('x1은 정수입니다.')

if type(x2) == int:
  print('x2는 정수입니다.')

print()
print('---------- 판별 끝 ----------')

---------- 판별 시작 ----------

x1은 정수입니다.

---------- 판별 끝 ----------

##### c. 기존의 방법으로는 자료형이 실수인 경우에는 판별하지 못하는 것을 확인
- 다른 방법 중 하나인, 나머지 연산자로 1을 나누었을 때, 나머지가 0이면 정수인 방법을 이용해보겠습니다.

In [11]:
print('---------- 판별 시작 ----------')
print()

if x1 % 1 == 0:
  print('x1은 정수입니다.')

if x2 % 1 == 0:
  print('x2는 정수입니다.')

print()
print('---------- 판별 끝 ----------')

---------- 판별 시작 ----------

x1은 정수입니다.
x2는 정수입니다.

---------- 판별 끝 ----------

#### Step 02. 나눈 값이 정수가 맞는지 확인하는 함수 정의

In [12]:
def int_divider(x, y):
    # if ~ else 문을 활용하여 함수를 완성해봐요!
    answer = None
    if x % y == 0:
      answer = int(x / y)
    else:
      answer = None

    return answer

### _**본격적인**_ 프로젝트 3의 시작
##### 세부 내용
- 함수의 input argument count에 관계 X
- 10 이하의 숫자면 모두 곱하여 Return 하는 함수

#### Step 03. 요구사항에 맞는 Multiplier 함수 정의

In [13]:
def mul(*values):
    # pass를 활용하여 함수를 완성해봐요!

    # MARK: 변수 초기화
    output = 1

    for num in values:
        if num <= 10:
            output *= num
        else:
            pass

    return output

#### Step 04. 실제로 함수를 이용하여 결과 값 확인해보기

In [14]:
mul(2, 3, 4, 5)

120

In [15]:
mul(3, 12, 10)

30